# These are retrieved from your project at app.tina.io
NEXT_PUBLIC_TINA_CLIENT_ID=ec3f00d4-f48d-4caf-916e-d2fbb034bf05
TINA_TOKEN=f490830f6b10c8c490e62bb713b391da274e2f5d

# This is set by default CI with Netlify/Vercel/Github, but can be overriden
NEXT_PUBLIC_TINA_BRANCH=main
# To see the preview functionality
VERCEL_ENV=preview